@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,800');

$primary: #d2fffd;
$secondary: #3c9a95;

$font-family: 'Titillium Web', 'EVE Sans', sans-serif;

@import 'components/index';

html,
body,
body > div {
  width: 100%;
  height: 100%;
}

body {
  background: black;
  color: $primary;
  font-family: $font-family;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  overflow: hidden;
  margin: 0;
}

.primary {
  color: $primary !important;
}

.secondary {
  color: $secondary !important;
}

.Pane {
  flex-basis: 400px;
  flex-shrink: 0;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  background-color: transparentize($secondary, 0.9);
  transition: 375ms margin ease-in, 375ms background-color ease-in;
  overflow: hidden;

  &:hover {
    background-color: transparentize($secondary, 0.88);
  }

  &--collapsed {
    background-color: transparent;

    &.Pane--left {
      margin-left: -370px;

      .Pane-button {
        transform: rotate(0);
        opacity: 0.15;
      }
    }

    &.Pane--right {
      margin-right: -370px;

      .Pane-button {
        transform: rotate(180deg);
        opacity: 0.15;
      }
    }
  }

  &-viewport {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  &-button {
    background-color: transparent;
    border: none;
    width: 2rem;
    outline: none;
    transform-origin: 50% 37%;
    cursor: pointer;
    opacity: 0.2;
    transition: 175ms opacity ease-in;

    svg path {
      fill: $primary;
    }

    &:hover {
      opacity: 1 !important;
    }
  }

  &--left {
    .Pane-button {
      transform: rotate(-180deg);
    }
  }

  &--right {
    .Pane-button {
      transform: rotate(0deg);
    }
  }

  @media screen and (max-width: 667px) {
    flex-basis: 100%;

    &--collapsed {
      &.Pane--right {
        margin-right: -90%;
      }

      &.Pane--left {
        margin-left: -90%;
      }

      .Pane-button {
        transform: rotate(0);
        opacity: 0.15;
      }
    }
  }
}

.SearchResults {
  display: flex;
  flex-direction: column;
  width: 98%;

  @media screen and (max-width: 1024px) {
    width: 95%;
  }
}

.SelectedEntities {
  flex-basis: calc(100% - 400px);
  max-height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  transition: 375ms flex-basis ease-in-out;

  &--expanded {
    flex-basis: calc(100% - 30px);
  }

  @media screen and (max-width: 667px) {
    flex-basis: 100%;

    &--expanded {
      flex-basis: 90%;
    }
  }
}

.Toggle {
  border: 1px $secondary solid;
  background: transparent;
  width: 1rem;
  height: 1rem;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 1.25rem 0 0 1.25rem;
  cursor: pointer;
  flex-shrink: 0;

  &--checked:after {
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    top: 0.2rem;
    left: 0.2rem;
    position: absolute;
    background: $primary;
  }

  &-control {
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
  }

  &-label {
    color: $secondary;
    min-width: 200px;
    margin-left: 1.5rem;
    font-size: 0.8rem;
  }
}
