.CommandLine {
  position: relative;
  width: 95%;
  display: flex;
  margin: 1rem 0 3rem 1rem;
  min-height: 4rem;

  &-control {
    background: transparent;
    border: none;
    border-bottom: 1px transparentize($secondary, 0.5) solid;
    appearance: none;
    outline: none;
    width: 100%;
    resize: none;
    overflow: hidden;

    font-size: 2.5rem;
    font-family: 'Titillium Web';
    line-height: 3rem;

    color: $primary;
    padding-bottom: 0.5rem;

    &:focus {
      border-bottom-color: transparentize($secondary, 0.3);
    }

    &::placeholder {
      color: $secondary;
      opacity: 0.3;
    }
  }

  &-message {
    position: absolute;
    bottom: -2rem;
    color: $secondary;
    font-size: 0.8rem;
  }

  @media screen and (max-width: 1024px) {
    width: 90%;
  }

}
