.ContainerBlock {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;

  &-child--33 {
    flex-basis: 33%;
    max-width: 33%;
    max-height: 100%;
    display: flex;
    justify-content: center;
  }
}
