.SelectedEntity {
  padding: 2rem;
  border-right: 1px transparentize($secondary, 0.85) solid;
  border-bottom: 1px transparentize($secondary, 0.85) solid;
  overflow: hidden;
  position: relative;
  flex-basis: 50%;
  color: $secondary;
  min-width: 500px;
  box-sizing: border-box;
  cursor: pointer;
  opacity: 0.8;
  transition: 175ms opacity ease-in;

  &:hover {
    opacity: 1;
  }

  &-data {
    max-width: 65%;
  }

  &-name {
    margin: 0;
    font-size: 2rem;
    letter-spacing: 3px;
    font-weight: 600;
    color: $primary;
  }

  &-group {
    display: flex;
    align-items: center;

    img {
      margin-right: 0.5rem;
    }
  }

  &-background {
    background-size: auto 100%;
    background-position-x: center;
    background-position-y: 50%;
    background-repeat: no-repeat;
    position: absolute;
    left: 65%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  @media screen and (max-width: 1030px) {
    min-width: 100%;
    
    .SelectedEntity-background {
      left: 0;
      opacity: 0.2;
      background-size: cover;
      background-position-y: 40%;
    }

    .SelectedEntity-data {
      max-width: 100%;
    }
  }
}
